:host {
    border-left: 6px solid #e0dd0a;
    background-color: #fafbb8;
}

.zippy { 
    border: 1px solid #ccc;
    border-radius: 2px;
}

.zippy-heading { 
    font-weight: bold;
    padding: 20px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zippy-body { 
    padding: 20px;
    background-color: #e0dd0a;
}
