<!-- El título se adapta mediante un custom pipe -->
<span class="d-inline-block obc-tooltip" tabindex="0" data-toggle="tooltip" title="Este título se adapta utilizando un custom pipe">
    <h1 >{{ title | titleCase }}</h1>
</span>
<div class="obc-container">
    <app-authors></app-authors>
    <favorite></favorite>
    <like
        [likesCount]="tweet.likesCount" 
        [isActive]="tweet.isLiked">
    </like>
    <zippy title="Shipping Details">
        Shipping Details Content
    </zippy>
    <new-course-form></new-course-form>
    <signup-form></signup-form>
    <change-password></change-password>
</div>